.countryclass{
    color: deeppink;
}
.countrypop{
    color: blue;
}
.africa{
    color: blue;
}
.Americas{
    color: green;
}
.Asia{
    color: red;
}
.Europe{
    color:yellow;
}
.Oceania{
    color:purple;
}